h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }

a#pdf { display: block; float: left; background: grey; color: white; padding: 6px 12px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: black; }